<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>613501521329-fjmof86nh1f69meoerjl6p10gboe3squ.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613501521329-fjmof86nh1f69meoerjl6p10gboe3squ</string>
	<key>API_KEY</key>
	<string>AIzaSyAyPD7_0lkhvUrUEiqqxEHo0gDV8W_rjEE</string>
	<key>GCM_SENDER_ID</key>
	<string>613501521329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterbase</string>
	<key>PROJECT_ID</key>
	<string>strat-banking-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>strat-banking-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613501521329:ios:a6c46969c984da13040190</string>
	<key>DATABASE_URL</key>
	<string>https://strat-banking-demo.firebaseio.com</string>
</dict>
</plist>